<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{NY Local Music}}</title>

    <base href="{{deployURL}}">
    <meta name="description" content="A search for local bands and events in your area, as well as a tool to expand your own music tastes.">
    <meta name="author" content="Your name">
    <meta name="author" content="V Close">
    <link rel="shortcut icon" type="image/png" href="image 2.png">
    <meta property="og:image" content="Meta Image.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Jura:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/menu.js" defer></script>

    </head>