html,body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background-color: #FFF;
  margin: 0 auto;
  font-family: 'Jura', sans-serif;
}

header {
  background-color: #3F3F3F;
  border-bottom: 1px solid #E7E7E7;
  position: fixed;
  width: 100%;
  z-index: 10;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bungee', sans-serif;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Bungee';
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}

li:hover {
  color: #BA0000;
  text-decoration: underline;
}

h2:hover {
  color: #BA0000;
  text-decoration: underline;
}

h1 
{
  text-align: center;
  color: #3F3F3F;
  margin-top: 0px;
  font-size: 65px;
  font-weight: 100;

}

h2 {
  color: #3F3F3F;
  font-size: 65px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
}

h3 {
  color: #E7E7E7;

  font-size: 35px;
  text-align: center;
  font-weight: 700;
  padding: 30px;
  background-color: #3F3F3F;
}

.underline h4 {
  color: #E7E7E7;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  padding: 30px;
  background-color: #3F3F3F;
  
}

h4:hover {
  color: #ff4545;
  text-decoration: underline;
}

h5 {
  color: #E7E7E7;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  padding: 30px;
}

h6 {
  text-align: center;
  color: #BA0000;
  font-family: 'Bungee', sans-serif;
  font-size: 65px;
  font-weight: 100;
  margin-bottom: -30px;
  margin-top: 80px;
}

p {
  color: #333;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
}

footer {
  background-color: #3F3F3F;
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  z-index: 10;
}

.welcome {
  background-image: url('Frame\ 2.png');
  background-size: cover;
  height: 466px;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  margin-top: -50px;
}

.question {
  text-align: center;
  position: relative;
  top: 40px;
}

.answer {
  background: #D9d9d9;
  border: 10px solid #3F3F3F;
  background-size: cover;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}


.concerts {
  background-image: url('vinyl.jpg');
  background-size: cover;
  min-height: 320vpx;
  padding: 100px;
  width: 100%;
}

button.btn-toggle-menu svg {
  fill: #E7E7E7;
}

button.btn-toggle-menu span {
  color: #E7E7E7;
}

nav a 
{
  color: #E7E7E7;
}

nav a:hover {

  color: #ff4545;
  text-decoration: underline;
}

.red {
  color: #BA0000;
}

.small {
  width: 300px;
  height: 280px;
  margin: 20px;
}

.large {
  width: 500px;
  height: fit-content;
}

.underline {
color: #ff4545;
text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

.logo {
  background: #FFF;
  border: 10px solid #333;
  max-height: 80px;
}

.form-container {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.survey-form {
  background: #E7E7E7;
  color: #3F3F3F;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 20px;
  max-width: 1000px;
  border: 10px solid #3F3F3F;
  align-content: center;
}

.survey-form input {
  border-color: #3F3F3F;
}

.survey-btn-container {
  display: flex;
  height: 10%;
  justify-content: space-between;

  padding: 0 20px;
  color: #3F3F3F;
  
}

.btn {
  height: 50px;
  width: 47%;
  color: #FFF;
  background-color: #3F3F3F;
  font-family: 'Jura', sans-serif;
}

.btn:hover {
  cursor: pointer;
  color: #ff4545;
  text-decoration: underline;
}

.protected-link-container {
  text-align: center;
  padding: 20px 0;
}

.protected-link-container a {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  padding: 5px 0;
  font-size: 20px;
  align-content: center;
}