<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h2>AbOUT</h2>

      <p>
        <h6>This website was made for music lovers new and old. NY state is a large and diverse area for rising stars and local musicians, and we want to help raise their voices!
Not only do musicians get to benefit from growing their music and being heard, but so do YOU!
Expanding your music taste and artist collection can help see beyond just big named artists. 
Music is just in your backyard.</h6>
      </p>
    </main>
    {% include 'footer' %}
  </body>
</html>
