<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    
    <main id="main-content">
      <h1>ABOUT</h1>
      <p>
        This website was made for music lovers new and old. NY state is a large and diverse area for rising stars and local musicians, and we want to help raise their voices!
      </p>
      <p>
        Not only do musicians get to benefit from growing their music and being heard, but so do YOU!
      </p>
      <p>
        Expanding your music taste and artist collection can help see beyond just big named artists. 
        </p>
        <p>
        Music is just in your backyard.
      </p>
    </main>
    {% include 'footer' %}
  </body>
</html>
