<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Expand Your Music Taste' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>Expand Your Music Taste</h1>

      <p>
      Want to get into music of a certain genre? Here’s the place! Fill out the form below and a personal playlist will be made just for you!
      </p>

      <form class='survey-form'>
        <div class='input-container'>
          <label>What is your name?</label>
          <input type='text'/>
        </div>

        <div class='input-container'>
          <label>What is your email?</label>
          <input type='text'/>
        </div>

        <div class='input-container'>
          <label>Please descirbe the genre(s) of music you would like to have in the playlist.</label>
          <input type='text'/>
        </div>

        <div class='survey-btn-container'>
        <button class='btn submit-btn' aria-hidden='true'>
          <span class='button'></span>
          Submit
        </button>
        <button class='btn'>Reset</button>
      </div>

      <p> Thank you! </p>
        <p>Your personal playlist should be sent to your email within a week of filling out the form.</p>

        </form>
    </main>
    {% include 'footer' %}
  </body>
</html>
