<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'NY Local Music' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
      <div class="welcome">
        </div>
      
        <div class="question">
          <h1>What does music mean to <span class="red">YOU?</span></h1>
          </div>
      
          <div class="concerts">
            <h3> Your NY State Music Journey Starts Here</h3>
          </div>
      
        <div class="question">
          <h1>Check out the <span class="red">hottest</span> events happening in...</h1>
          </div>
      
          <div class="answer">
            <h2>Syracuse</h2>
            <h2>Albany</h2>
            <h2>Hudson Valley</h2>
        </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
