<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'NY Local Music' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
      <div class="welcome">
        </div>
      
        <div class="question">
          <h2>What does music mean to <span class="red">YOU?</span></h2>
          </div>
      
          <div class="concerts">
            <h4> Your NY State Music Journey Starts Here</h4>
          </div>
      
        <div class="question">
          <h2>Check out the hottest events happening in...</h2>
          </div>
      
          <div class="answer">
            <h3>Syracuse</h3>
            <h3>Albany</h3>
            <h3>Hudson Valley</h3>
        </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
