<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Locatl Artists' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>Local Artists</h1>
      <p>
        The bands and artists on this page tend to travel within NY state for shows, be sure to follow them on their socials to see where they will be next!
      </p>

      <a href="https://www.instagram.com/o.rama.band/" target="_blank>" >
      <h4>O-Rama Band</h4>
      </a>

      <img src="/assets/Screenshot 2024-05-30 7.18.57 AM.png" class="small" alt="O-RAMA"/>

      <img src="/assets/AE_PHOTO_SCIARRONE-1-scaled.jpeg" class="large" alt="O-Rama IMG"/>
      <h4>Canned Peaches</h4>

      <img src="/assets/Screenshot 2024-05-30 7.19.51 AM.png" class="small" alt="Canned Peaches"/>

      <img src="/assets/maxresdefault 1.png" class="large" alt="Canned Peaches IMG"/>

      <h4>Sir Echo</h4>
        
      <img src="/assets/Screenshot 2024-05-30 6.58.41 AM.png" class="small" alt="Sir Echo IMG"/>

      <img src="/assets/Sir-Echo-e1697170464271.webp" class="large" alt="Sir Echo" />

      

    </main>
    {% include 'footer' %}
  </body>
</html>
