<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>Local Artists</h1>
      <p>
        The bands and artists on this page tend to travel within NY state for shows, be sure to follow them on their socials to see where they will be next!
      </p>
      <h4>O-Rama Band</h4>
      <img src="/assets/Screenshot 2024-04-29 at 2.54 1 (1).png" alt="O-RAMA">
      <img src="/assets/AE_PHOTO_SCIARRONE-1-scaled 1.png" alt="O-Rama IMG">
      <h4>Canned Peaches</h4>
      <img src="/assets/Screenshot 2024-04-29 at 3.05 1.png" alt="Canned Peaches">
      <img src="/assets/maxresdefault 1.png" alt=="Canned Peaches IMG">
      <h4>Sir Echo</h4>
        
    </main>
    {% include 'footer' %}
  </body>
</html>
