<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Venues and Concerts' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>Venues and Concerts</h1>

      <h6>Syracuse</h6>
      
      <a href="https://www.instagram.com/thedollhousesyr/" class="underline" target="_blank">
      <h4>The Doll House </h4>
      </a>

      <img src="/assets/Screenshot 2024-05-30 8.05.20 AM.png" class="small" alt="Dollhouse">

      <img src="/assets/DOM_LarsJendruschewitz_APE_DollhouseShow_20240127_023-1-scaled.jpg" class="large" alt="Dollhouse IMG">

      <h6>Albany</h6>

      <a href="https://www.instagram.com/greenhousealbany/" class="underline" target="_blank">
      <h4>The Green House</h4>
      </a>

      <img src="/assets/Screenshot 2024-05-30 2.24.05 PM.png" class="small" alt="Greenhouse">

      <img src="/assets/524c5a_0267edf1efa24a9e99b9e6f4b2a8bdd0_mv2.webp" class="large" alt="Greenhouse IMG">

      <h6>Hudson Valley</h6>

      <a href="https://www.instagram.com/doorsat7/?hl=en" class="underline" target="_blank">
      <h4>Doors at 7</h4>
      </a>

      <img src="/assets/IMG_5164 (2).png" class="small" alt='Doorsat7'>

      <img src="/assets/_AB_6461.jpg" class="large" alt="Doorsat7 IMG">

    </main>
    {% include 'footer' %}
  </body>
</html>
